
@model IEnumerable<Photo>
@{
    ViewBag.Title = "Listar";
}
<h2>Listar</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@Url.Action("ObterImagem","PhotoSharing",new { id=item.Id})" />
                <div class="caption">
                    <h3>@item.Title</h3>
                    <p>@item.Description</p>
                    <p>...</p>
                    <p><a href="@Url.Action("Excluir","PhotoSharing", new { id = item.Id})" class="btn btn-danger" role="button">Excluir</a>
                    <p><a href="@Url.Action("Visualizar","PhotoSharing", new { id = item.Id})" class="btn btn-danger" role="button">Visualizar</a>
                </div>
            </div>
        </div>
    }

</div>